*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0% 10%;
}


h3{
    font-size: 2rem;
    color: rgb(63, 96, 76);
    line-height: 2.5rem;
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
}



a{
    color: rgb(63, 96, 76);
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}